name: Deploy ASP.NET Core app to Azure Web App - 2026 edition

on:
  push:
    branches:
      - main-no-way
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

env:
  DOTNET_VERSION: '10.x'
  DOTNET_ROOT: .
  SECRET_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  SECRET_TENANT_ID: ${{ secrets.TENANT_ID }}
  SECRET_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID  }}
  APP_NAME: 'app-mortgagecalculator-cus'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: 'dev'

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet publish
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ env.SECRET_CLIENT_ID }}
          tenant-id: ${{ env.SECRET_TENANT_ID }}
          subscription-id: ${{ env.SECRET_SUBSCRIPTION_ID }}
          
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.APP_NAME }}
          slot-name: 'Production'
          package: ${{ env.DOTNET_ROOT }}/myapp