name: Deploy ASP.NET Core app to Azure Web App - 2026 edition

on:
  push:
    branches:
      - main-no-way
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

env:
  DOTNET_VERSION: '10.x'
  SECRET_CLIENT_ID: 'secret-in-the-future'
  SECRET_TENANT_ID: 'secret-in-the-future'
  SECRET_SUBSCRIPTION_ID: 'secret-in-the-future'
  APP_NAME: 'Mortgage-Calculator'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: 'Production'

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build with dotnet
        run: dotnet build --configuration Release
